aiofiles
alembic
altair
amqp
annotated-types
anthropic
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
autobahn
Automat
babel
bcrypt
beautifulsoup4
billiard
black
bleach
blinker
boto3
botocore
cachetools
celery
certifi
cffi
cfgv
channels
channels_redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
clr_loader
cohere
colorama
coloredlogs
comm
constantly
contourpy
coreapi
coreschema
coverage
crispy-bootstrap5
cron-descriptor
cryptography
customtkinter
cycler
daphne
darkdetect
debugpy
decorator
defusedxml
Deprecated
diff-match-patch
distlib
distro
dj-database-url
Django
django-admin-soft-dashboard
django-celery-beat
django-cloudinary-storage
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
django-filter
django-humanize
django-import-export
django-jazzmin
django-ratelimit
django-redis
django-storages
django-tailwind
django-timezone-field
django-widget-tweaks
django_celery_results
djangorestframework
djangorestframework_simplejwt
docutils
drf-spectacular
drf-spectacular-sidecar
drf-yasg
et_xmlfile
executing
factory_boy
Faker
fastapi
fastavro
fastjsonschema
filelock
filetype
flake8
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
Flask-SQLAlchemy
fonttools
fqdn
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
graphviz
greenlet
grpcio
grpcio-health-checking
grpcio-status
grpcio-tools
gunicorn
h11
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
humanize
hyperlink
identify
idna
imageio
importlib_metadata
incremental
inflection
iniconfig
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
isort
itsdangerous
itypes
jedi
Jinja2
jiter
jmespath
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
Kivy
Kivy-Garden
kivy_deps.angle
kivy_deps.glew
kivy_deps.sdl2
kiwisolver
kombu
lazy_loader
lightgbm
llvmlite
Mako
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mistune
msgpack
multidict
mypy_extensions
mysqlclient
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nodeenv
notebook
notebook_shim
numba
numpy
openai
opencv-python
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
packaging
pandas
pandocfilters
parso
pathspec
pickle-mixin
pillow
platformdirs
plotly
pluggy
pre_commit
prometheus_client
prompt_toolkit
proto-plus
protobuf
psutil
psycopg2-binary
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydantic
pydantic_core
pydeck
pyfingerprint
pyflakes
Pygments
PyJWT
pyOpenSSL
pyparsing
pypiwin32
PyQt5
PyQt5-Qt5
PyQt5_sip
pyreadline3
pyserial
PySide6
PySide6_Addons
PySide6_Essentials
pytailwindcss
pytest
pytest-cov
pytest-django
python-crontab
python-dateutil
python-decouple
python-dotenv
python-json-logger
python-magic
python-multipart
pythonnet
pytz
pywin32
pywinpty
PyYAML
pyzmq
rasa-sdk
redis
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rpds-py
rsa
ruamel.yaml
rustup
s3transfer
safetensors
sanic
Sanic-Cors
sanic-routing
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
sentry-sdk
service-identity
setuptools
shiboken6
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
streamlit
stripe
structlog
tablib
tenacity
terminado
threadpoolctl
tifffile
tinycss2
tokenizers
toml
tornado
tqdm
traitlets
transformers
Twisted
txaio
types-python-dateutil
types-requests
typing-inspection
typing_extensions
tzdata
ujson
uri-template
uritemplate
urllib3
uuid
uvicorn
vine
virtualenv
watchdog
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
whitenoise
widgetsnbextension
wrapt
xgboost
XlsxWriter
zipp
zope.interface
