name: Build and deploy Python app to Azure Web App - cpsu-health-backend

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Create and start virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate
      
      - name: Install dependencies
        run: |
            cd Django
            python -m pip install --upgrade pip
            pip install -r requirements.txt

      # Optional: Run tests here
      # - name: Run tests
      #   run: |
      #     cd Django
      #     python manage.py test

      - name: Zip artifact for deployment
        run: |
            # Exclude backend venv, frontend files, git files
            zip -r release.zip . -x "venv/*" ".git/*" ".github/*" "Vue/*" "Rasa/*" "_project_archive/*" "ML/*"

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Unzip artifact for deployment
        run: unzip release.zip

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'cpsu-health-backend-aeekegazbbdba3dq' # Your exact App Service Name
          slot-name: 'production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
